.content{
  border: solid;
  top: 20px;
  background-color: black;
}
.s{
  position: absolute;
  top: 15px;
  right: 0;
  bottom: 5px;
}
header{
  padding-top: 15px;
}
a:link{
  background-color: transparent;
  text-decoration: none;
}
*{
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.book{
  border-style: solid;
  border-color: lime;
}

aname{
  border-style: solid;
  border-color: cyan;
}

p{
  /*border-style: solid;*/
  border-color: grey;
  border-width: 2px;
}

footer{
  border-style: solid;
  border-color: magenta;
}
